/* Estilos del index*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #9b9b9b;
}

header {
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

#logo {
  float: left;
  margin-left: 50px;
  width: 100px;
  height: 100px;
  background-color: #b8b8b8;
}

#logo img {
  width: 100px;
  height: 100px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(150, 147, 146);
  color: white;
  text-align: center;
}


/* .---------------------Estilos task----------------------. */

/* minimizar */
.float-right a:hover {
  color: #ffffff;
  font-weight: bold;
  text-shadow: #fff;
}

/*Iconos eliminar, editar,borrar*/
#check_tag:hover {
  color: #00ff37;
  text-decoration: none;
  text-shadow: 0 0 10px #00ff37;
}

#edit_tag:hover {
  color: #FFFF00;
  text-decoration: none;
  text-shadow: 0 0 10px #FFFF00;
}

#delete_tag:hover {
  color: #ff0000;
  text-decoration: none;
  text-shadow: 0 0 10px #ff0000;
}

/*Label modal*/
#descrip_task {
  color: #fff;
}


#btn_modal_edit {
  color: #fff;
  text-decoration: none;
}

/* Tabla*/
#task, #title_task_complete {
  text-align: center;
}


/* Boton todas tareas completadas*/

#btn_all_task,
#btn_ag_task {
  margin-bottom: 10px;
}

/* Estilos prioridades*/
.rojo {
  color: #ff0000;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}

.verde {
  color: #00ff00;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}

.azul {
  color: #2112fd;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}

.blanco {
  color: #ffffff;
  font-weight: bold;
}

/* Filtro tareas y scroll */
#search_task {
  color: #fff;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
} 

#div_notas{
  position: relative;
  overflow:auto;
  height: 525px;
}

